*.egg-info
.DS_Store
__pycache__
src/obsplotlib/_version.py
build
docs/source/examples/
pypatoken
pypitoken
testpypitoken
obsplotlib-testpypitoken
obsplotlib-pypitoken
examples/logo.svg
examples/favicon.ico
scripts/*.pdf
scripts/*.ndk
scripts/*.pkl
*.mseed
*.xml
*.pdf
*.png
scripts/STF
